gitlab:
  user: git
  group: git
  service_enabled: true

  root_user:
    password: djakldjafjk
    email: git@example.com

  config:
    production:
      gitlab:
        host: git.example.com
        port: 80 # 443
        https: false
        trusted_proxies:
        email_from: hans@example.com

  database:
    production:
      adapter: postgresql
      encoding: unicode
      database: gitlabhq_production
      pool: 10
      username: git
      password: "secure password"
      host: localhost

  secrets:
    production:
      db_key_base: 'Lh8lPiofuvg5XxHLC_4u8ZZ5xq95Wf62'

  resque:
    production:
      url: redis://localhost:6379

  git_config:
    'core.autocrlf': input
    'gc.auto': 0
    'repack.writeBitmaps': 'true'
